/*font -Open Sans*/
@import url(https://fonts.google.com/share?selection.family=Open+Sans:ital,wght@0,300..800;1,300..800);
@import url(https://fonts.google.com/share?selection.family=Open+Sans:ital,wght@0,300..800;1,300..800);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    text-decoration: none;
    list-style-type: none;
}

/* General Styles */
body {
    min-height: 100vh;
   /* display: flex;
    flex-direction: column;*/
    color: whitesmoke;

}
/* ---------------------------------------HEADER-----------------------------------*/
/* Header */
header {
    background-color: #222222;
    color: whitesmoke;
    font-size: medium;
    font-weight: 600;
    width: auto;
    height: 16vh;
}

/* Navbar styles with dropdown toggle */

/* Nav toggle */
#nav-toggle:checked~nav {
    transition: all 5 ease;
}

#nav-toggle {
    display: none;
}

/*moves the bbb logo when the menu is selected*/
#toggle-checked:checked~a #bbblogo {
    transform: translateX(151px);
}
/*toggle label for side menu and logo movement*/
#menu-toggle {
    display: none;
    
}

#menu-toggle:checked~img {
    transform: translateX(151px);
}

/* Styling for the Better Barnsley Bond*/
#bbblogo {
    height: auto;
    width: 31vw;
    position: absolute;
    top: -31%;
    left: 179px;
    object-fit: fill;
    transition: 5s;
    transform: translateX(0);
}

/* Menu slides in from the right*/

#slide {
    position: absolute;
    width: 143px;
    height: 200px;
    background-color: #5a3859;
    color: #222222;
    transition: transform 1s;
    transform: translateX(-113px);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 1;
    top: 111%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    flex-direction: row-reverse;
}


/*Menu header*/
#slide h2 {
    color: whitesmoke;
    position: fixed;
    top: 13%;
    left: 43%;
    font-weight: 700;
    text-align: left;
    padding: 20px 0 0 60px;
    pointer-events: none;
    padding-bottom: 27px;
    transform: rotate(90deg);
}

/*Menu list*/
#slide li {
    list-style: none;
    color: whitesmoke;
    font-size: 1rem;
    padding: 8px;
    align-self: center;
    
}

/*BBB logo link*/
#slide ul li a {
    color: whitesmoke;
    font-weight: 500;
    padding: 5px 0;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
}

/*Menu hover over colour change*/
#slide ul li:hover a {
    color: whitesmoke;
    background-color: #5a3859;
}

/*Arrows at the sides of the list*/
#slide ul li a i {
    width: 30px;
    text-align: center;
}



/* Designing the (burger) menu*/
.toggle {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 20px;
    left: 15px;
    z-index: 2;
    cursor: pointer;
    border-radius: 2px;
    background-color: #2c2b2c;
    box-shadow: 0 0 10px rgba(245, 245, 245, 0.3);
}

/*Design for all three lines and the overall class*/
.toggle .common {
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: whitesmoke;
    border-radius: 50px;
    transition: 0.3s ease;
}


/* the creation of the top line of the burger*/
.toggle .top_line {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* the creation of the middle line of the burger*/
.toggle .middle_line {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 15px rgba(0, 0, 0, 00.5s);
}

/* the creation of the bottom line of the burger*/
.toggle .bottom_line {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*moves the menu so it can be seen* (unchecked is when it is off screen*/
input:checked~#slide {
    transform: translateX(0);
}




/* Make main element take up any surplus space to push footer down */
main {
    flex: 1 0 auto;
    background-color: whitesmoke;

}

header {
    position: sticky;
    top: 0;
    z-index: 2;
}

/* ---------------------------------------FOOTER-----------------------------------*/
/** Footer Logos */

.footer-container {
    display: flex;
    flex-direction: column;
    background-color: #222222;
}

h4 {
    align-self: center;
    padding-bottom: 5%;
}

.barnsley-council ul li {
    align-self: center;
    font-size: small;
}
.footer-content {
    display: flex;
    justify-content: center;
    padding: 10px
}

.barnsley-council {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 21px;
    padding: 5px;
    border-top-color: whitesmoke;
    border-top-style: inset;
    
}

.legal {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-logos {
    width: 100%;
    max-height: 6%;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    order: 5;
}

.footer-content p {
    text-align: center;
    display: inline;
    display: flex;
}

.socials {
    color: whitesmoke;
    text-decoration: none;
    justify-content: center;
    display: flex;
    text-wrap: wrap;
    height: 100%;
    width: 100%;
    
}

.socials li {
    padding: 10px;
    list-style-type:none;
}
.copyright {
    display: flex;
    background-color: #222222;
}
.copyright p { 
    align-self: center;
    font-size: small;
}


.footer-content-barnsley-council a h2 ul {
    align-items: start;
}

/*footer

.footer-container {
    background-color: #222222; 
    padding-bottom: 4rem;
}

.footer {
    width: 80%;
    height: 12vh;
    background-color: #222222; 
    color: whitesmoke;
    font-size: x-small;
    display: flex;
    justify-content: center;
    list-style-type: none;
    text-decoration: none;
    padding-top: 1rem;
    margin: 0  auto;
}
#bmbc_logo {
    padding-left: 15px;
    padding-right: 15px;
    object-fit: contain;
    max-height: 100%;
    max-width: auto;
    position: realtive;
}



#barnsley-2030-logo {
    max-height: 100%;
    max-width: auto;
    object-fit: contain;
    padding-left: 15px;
    padding-right: 15px; 
    position: realtive;
} 

.container-footer {
    width: 100vw;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.legal {
    justify-content: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    order: 1;
    text-decoration: none;
}

.legal li {
    list-style-type:none;
    padding: 2px;
    
}

.legal li:hover {
    text-decoration: underline;
    color: whitesmoke;
    font-size: large;
    background-color: #5a3859;
}



.copyright {
    text-align: center;
    padding: 2px;
    order: 4;
}
/* ---------------------------------------ABOUT US-----------------------------------*/
/*index.html- About us*/

.container {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    color: #222222;
    width: 100%;
    
}

.about-us {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

.about-us-sec {
    display: flex;
    flex-direction: column;
}
.looking-for {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    align-items: center;

}
 
.about-us-links {
    
    background: #5a3859;
    color: whitesmoke;
    padding: 6px 7px;
    align-self: center;
    margin-bottom: 26px;
    margin-top: 26px;
}



.about-us-ul {
    margin-left: 53px;
}

.about-us-ul li  {
    background-color: whitesmoke;
    color: #222222;
    padding: 9px 0px 0px 8px;
    list-style-type: square;
}
#click-me {
    margin-bottom: 41px;
    margin-top: 25px;
}
.text {
    display: flex;
    flex-direction: column;
}
.videos {
    align-self: center;
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 100%;
}

.videos iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.images {
    display: flex;
    background-color: whitesmoke;
    padding: 20px 23px;
    flex-direction: column;
}

.images img{
    max-width: 241px;
    height: auto;
    align-self: center;
}
.about-us p {
    background-color: whitesmoke;
    color: #222222;
    padding: 31px;
    padding: 0 31px 20px 50px;
}

.about-us h1 {
    background-color: whitesmoke;
    color: #222222;
    padding: 31px 31px 13px 50px;
}

.apply {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.apply-container {
    display: flex;
    flex-direction: column;
}

.about-us-links h1 {
    color: #222222;
    padding: 31px 31px 13px 50px;
}

/* Meet the panel - */
.meet-panel {
    display: flex;
    flex-direction: column;
}

.meet-panel-p {
    
}

.panel-logo {
    max-height: 130px;
    max-width: 200px;
}

.panel-logo-div {
    align-self: center;
}
.container h1 {
    color: #222222;
    padding: 31px 31px 13px 50px;
    align-self: center;
}
.enterprising-barnsley{
    display: flex;
    flex-direction: column;
    padding: 31px 31px 13px 50px;
}

.enterprising-barnsley p {
    color: #222222;
    align-self: center;
}

strong {
    background-color: whitesmoke;
    color: #222222;
    padding: 16px 31px 10px 50px;
}

element.style {
    color: #222222;
    list-style-type: square;
}
.moving-foward {
    display: flex;
    flex-direction: column;
    
}

/* ---------------------------------------PROJECTS-----------------------------------*/

/*past projects page */


.past-projects-photos {
    height: 250px;
    width: auto;
    padding-left: 50px;
}

.past-projects ul {
    display: flex;
    flex-wrap: wrap;
}

.past-projects ul li {
    height: 40vh;
    flex-grow: 1;
}

.past-projects ul li img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

.past-projects {
    background-color: #222222;
}

.projects {
    display: flex;
    flex-direction: column;
}


/* To create a line between the header and the heading*/

#header-break {
    padding: 5px 0 0 50px;
    border-top-color: whitesmoke;
    border-top-style: inset;
}
/*break between paragraph and gallery */
#introduction {
    padding: 0px 50px 21px 50px;
}

/*Quotation & context */


/*break-point - table*/
.text-wrap {
    display: flex;
    width: 330px;
    height: 100px;
    background-color: #222222;
    word-break: break-all;
    margin: 44px -36px;
    padding-block: 13px;
    text-align: center;
    text-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.text-wrap-btn {
    display: flex;
    width: 330
    px;
    height: 100px;
    background-color: #222222;
    word-break: break-all;
    margin: 44px 0 0;
    padding-block: 13px;
    text-align: center;
    text-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
 /* ---------------------------------------CONTACT-----------------------------------*/

/*Section id - background */

 #contact-us {
    background-image: url('../images/hand_sappling_expanded.png');
    background-size: cover;
    background-color: #222222;
    padding-bottom: 45px;
    position: relative;
    display: flex;
    justify-content: center;
    width: 97vw;
    height: 100vh;
    
}

/* Box around the form */
.contact-box {
    position: relative;
    top: 338px;
    left: 43%;
    transform: translate(-50%, -50%);
    width: 305px;
    height: 635px;
    padding: 25px 28px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

/*Heading above the form*/
.contact-box h2 {
    background-color: transparent;
    margin-left: -3px;
}

/*Tagline for the form*/
.contact-box p {
    background-color:transparent;
    margin-left: -3px;
}

/*Turns the form transparent*/
.contact-box form {
    background-color: transparent;
    border-left: 10px;
    
}

/*Controls the input boxes of the form*/
.contact-box input {
    height: 30.2px;
    width: 251px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid whitesmoke;
    background: transparent;
    margin-bottom: 10px;
    margin-left: -3px;
    margin-top: 11px;
    
}

/*Controls the labels of the form*/
.contact-box label {
    background-color: rgba(0, 0, 0, 0);
}

/*Changes colour when the user inputs the wrong information*/
#contact-form input:invalid {
    color: #4f1f6b;
}

/* Submit button */
.contact-box form button {
    display: block;
    position: relative;
    width: 251px;
    margin-bottom: 10px;
    background-color: #5a3859;
    padding: 5px;
    border-radius: 5px;
    color: whitesmoke;
    font-size: medium;
    box-shadow: 0 0 8px rgba(245, 245, 245, 0.2);
}

/*placehoder - used instead of labels*/
::placeholder {
    color: whitesmoke;
    font-size: medium;
    
}
/*message box*/
#message {
    background-color: transparent;
    padding-left: 10px;
    padding-top: 5px;
    margin-left: -2.2px;
    width: 250px;
}

/*Options for communication*/
fieldset {
    background-color: transparent;
    border: none;
    margin-top: 10px;
    margin-bottom: 14px;
}

legend {
    background-color: transparent;
}

.choice {
    background-color: transparent;
}

/*size of boxes*/
.choice input {
    height: 17.2px;
    width: 35px;
    border: none;
}

/* ---------------------------------------MEDIA QUERY-----------------------------------*/

/*Mobile M - 375px*/
@media screen and (min-width: 375px) {}




@media screen (min-width: 410px) {
    /*contact form*/

}
    
/*Mobile L - 412px*/
@media screen and (min-width: 412px) {
    .contact-box {
        position: relative;
        top: 338px;
        left: 46%;
        transform: translate(-50%, -50%);
        width: 357px;
        height: 767px;
        padding: 25px 28px;
        box-sizing: border-box;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }

/*Controls the input boxes of the form*/
.contact-box input {
    height: 30.2px;
    width: 295px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid whitesmoke;
    background: transparent;
    margin-bottom: 10px;
    margin-left: -3px;
    margin-top: 11px;
    
}
/*message box*/
#message {
    background-color: transparent;
    padding-left: 10px;
    padding-top: 5px;
    margin-left: -2.2px;
    width: 295px;
}
/* Submit button */
.contact-box form button {
    display: block;
    position: relative;
    width: 295px;
    margin-bottom: 10px;
    background-color: #5a3859;
    padding: 5px;
    border-radius: 5px;
    color: whitesmoke;
    font-size: medium;
    box-shadow: 0 0 8px rgba(245, 245, 245, 0.2);
}
/*size of boxes*/
.choice input {
    height: 17.2px;
    width: 35px;
    border: none;
}

}

@media (min-width: 520px) {
  
    #bbblogo {
        max-height: 60px;
        width: auto;
        top: -51%;
    }
}


@media (min-width:620px) {
/*About-us page*/

.apply {
    display: flex;
    align-self: center;
    flex-direction: row;
}

.meet-panel {
    display: flex;
    flex-direction: row-reverse;
}

.meet-panel-p {
    flex-grow: 2;
}

.meet-panel > p {
    background-color: whitesmoke;
    color: #222222;
    padding: 31px;
    padding: 0px 31px 20px 38px;
}

.panel-logo {
    max-height: 130px;
    max-width: 200px;
    flex-grow: 1;
    padding-left: 41px;
}

.eligible {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    
}
/*
.container {
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    color: #222222;
    width: 100%;
    */
}


/*Tablet - 741px*/
@media screen and (min-width: 741px) {
/* contact us page - image breaking point */

    .contact-box {
        position: relative;
        top: 338px;
        left: -1%;
        transform: translate(-50%, -50%);
        width: 348px;
        height: 635px;
        padding: 25px 28px;
        box-sizing: border-box;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }
/*message box*/
#message {
    background-color: transparent;
    padding-left: 10px;
    padding-top: 5px;
    margin-left: -2.2px;
    width: 295px;
}
/* Submit button */
.contact-box form button {
    display: block;
    position: relative;
    width: 295px;
    margin-bottom: 10px;
    background-color: #5a3859;
    padding: 5px;
    border-radius: 5px;
    color: whitesmoke;
    font-size: medium;
    box-shadow: 0 0 8px rgba(245, 245, 245, 0.2);
}
/*size of boxes*/
.choice input {
    height: 17.2px;
    width: 35px;
    border: none;
}
.looking-for {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    align-items: center;
    flex-direction: row-reverse;
}
}
/*Laptop - 1024px*/
@media (min-width: 1024px) {

   /*contact page - location of form*/
    .contact-box {
        position: relative;
        top: 338px;
        left: -6%;
        transform: translate(-50%, -50%);
        width: 305px;
        height: 635px;
        padding: 25px 28px;
        box-sizing: border-box;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }
   /*about-us*/
    #bbblogo {
        max-height: 46px;
        width: auto;
    }

    .looking-for {
        display: flex;
        justify-content: space-evenly;
        align-items: stretch;
        align-items: center;
        flex-direction: row-reverse;
       
    }

    .looking-for-sec {
        display: flex;
    }

    .about-us h1 {
        background-color: whitesmoke;
        color: #222222;
        padding: 31px 31px 13px 31px;
        align-self: center;
        border-top: #222222;
        border-bottom: #222222;
        border-width: ;
    }

    .apply {
        display: flex;
        align-self: center;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .images img {
        max-width: 275px;
        height: auto;
        align-self: center;
    }

    .apply-container {
        display: flex;
        flex-direction: row;
    }

    .container {
        display: flex;
        flex-direction: column;
        background-color: whitesmoke;
        width: 100%;
    }

}





/*Large laptop - 1440px*/
@media screen and (max-width: 1440px) {}


/*4K - 2560px*/
@media screen and (max-width: 2560px) {}

