/*font -Open Sans*/
@import url(https://fonts.google.com/share?selection.family=Open+Sans:ital,wght@0,300..800;1,300..800);
@import url(https://fonts.google.com/share?selection.family=Open+Sans:ital,wght@0,300..800;1,300..800);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    text-decoration: none;
    list-style-type: none;
}


/* General Styles */
body {
    min-height: 100vh;
    /* display: flex;
    flex-direction: column;*/
    color: whitesmoke;

}


/* ---------------------------------------HEADER-----------------------------------*/
/* Header */
header {
    background-color: #222222;
    color: whitesmoke;
    font-size: medium;
    font-weight: 600;
    width: auto;
    height: 16vh;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 2;
}

/* Navbar styles with dropdown toggle */

/* Nav toggle */
#nav-toggle:checked~nav {
    transition: all 1.5s ease;
}

#nav-toggle {
    display: none;
}

/*moves the bbb logo when the menu is selected*/
#toggle-checked:checked~#bbblogo {
    transform: translateX(151px);
}



/* Styling for the Better Barnsley Bond*/
#bbblogo {
    height: 63%;
    width: auto;
    position: relative;
    left: 51%;
    align-self: center;
    cursor: pointer;
}

.nav-toggle-label {
    display: flex;
}

/* Menu slides in from the right*/
#slide {
    position: absolute;
    width: 143px;
    height: 163px;
    background-color: #222222;
    transition: transform 1s;
    transform: translateX(-146px);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 1;
    top: 111%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    flex-direction: row-reverse;
}


/*Menu header*/
#slide h2 {
    color: #ffb812;
    display: inline-flex;
    align-items: center;
    position: fixed;
    top: 33%;
    left: 54%;
    font-weight: 700;
    text-align: left;
    pointer-events: none;
    padding-bottom: 27px;
    transform: rotate(90deg);
}

/*Menu list*/
#slide li {
    list-style: none;
    color: whitesmoke;
    font-size: 1rem;
    padding: 8px;
    align-self: center;
}

/*BBB logo link*/
#slide ul li a {
    color: whitesmoke;
    font-weight: 500;
    padding: 5px 0;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
}

/*Menu hover over colour change*/
#slide ul li:hover a {
    color: whitesmoke;
    background-color: #5a3859;
}

/*Arrows at the sides of the list*/
#slide ul li a i {
    width: 30px;
    text-align: center;
}

/* Designing the (burger) menu*/
.toggle {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 20px;
    left: 15px;
    z-index: 2;
    cursor: pointer;
    border-radius: 2px;
    background-color: #2c2b2c;
    box-shadow: 0 0 10px rgba(245, 245, 245, 0.3);
}

/*Design for all three lines and the overall class*/
.toggle .common {
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: whitesmoke;
    border-radius: 50px;
    transition: 0.3s ease;
}


/* the creation of the top line of the burger*/
.toggle .top_line {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* the creation of the middle line of the burger*/
.toggle .middle_line {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 15px rgba(0, 0, 0, 00.5);
}

/* the creation of the bottom line of the burger*/
.toggle .bottom_line {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*moves the menu so it can be seen* (unchecked is when it is off screen*/
input:checked~#slide {
    transform: translateX(0);
}


/* Make main element take up any surplus space to push footer down */
main {
    flex: 1 0 auto;
    background-color: whitesmoke;

}

/* ---------------------------------------FOOTER-----------------------------------*/
/** Footer Logos */

/*contains all elements within the footer*/
.footer-container {
    display: flex;
    flex-direction: column;
    background-color: #222222;
}

/*Find out more heading*/
h4 {
    align-self: center;
    padding-bottom: 1%;
}

/* Unordered list for social media logos*/
.legal {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/*legal*/
.barnsley-council ul li {
    align-self: center;
    font-size: small;
}

/*Container to links the Council's Website*/
.barnsley-council {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 21px;
    padding: 5px;
    border-top-color: whitesmoke;
    border-top-style: inset;

}

/*unordered list socials container*/
.socials {
    color: whitesmoke;
    text-decoration: none;
    justify-content: center;
    display: flex;
    text-wrap: wrap;
    height: 100%;
    width: 100%;
}

/* padding between social media logos*/
.socials li {
    padding: 10px;
    
}
/* copyright - container */
.copyright {
    display: flex;
    background-color: #222222;
}

/* Copyright info*/
.copyright p {
    text-align: center;
    display: inline;
    align-self: center;
    font-size: small;
}

/* ---------------------------------------ABOUT US-----------------------------------*/
 /*index.html- About us*/

 /*generic container for all elements on the main section of the about us page*/
.container {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    color: #222222;
    width: 100%;
}

.about-us {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}
/*generic headings styling*/
.container h1 {
    background-color: whitesmoke;
    color: #222222;
    padding: 31px 31px 13px 50px;
    align-self: center;
}

/*about-us section - header & paragraph*/
.about-us-sec {
    display: flex;
    flex-direction: column;
}

/*what are we looking for -paragraph and photo*/
.looking-for {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    align-items: center;

}

/* All links on the about us page*/
.about-us-links {

    background: #5a3859;
    color: whitesmoke;
    padding: 4px 14px;
    align-self: center;
    margin-bottom: 26px;
    margin-top: 26px;
}

/*all unordered lists on the about-us page*/
.about-us-ul {
    margin-left: 53px;
}
/*styling for unordered lists*/
.about-us-ul li {
    background-color: whitesmoke;
    color: #222222;
    padding: 9px 0px 0px 8px;
    list-style-type: square;
}

/*Generic container for meet the panel text*/
.text {
    display: flex;
    flex-direction: column;
}

/*You Tube video container*/
.videos {
    align-self: center;
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 100%;
}

/*styling for Youtube video*/
.videos iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*generic images div*/
.images {
    display: flex;
    background-color: whitesmoke;
    padding: 20px 23px;
    flex-direction: column;
}

/*generic images formatting*/
.images img {
    max-width: 241px;
    height: auto;
    align-self: center;
}

/*Who can apply container*/
.apply {
    display: flex;
    flex-direction: column;
    align-self: center;
}

/*Eligibility container*/
.eligible {
    display: flex;
    flex-direction: column;
    align-self: center;
}

/* Meet the panel - */

/*Meet the panel generic div styling*/
.meet-panel {
    display: flex;
    flex-direction: column-reverse;
}

/*formatting for the panel logos*/
.panel-logo {
    max-height: 130px;
    max-width: 200px;
}

/*div for logo of the panel*/
.panel-logo-div {
    align-self: center;
}

/*additional help with Enterpising Barnsley div*/
.enterprising-barnsley {
    display: flex;
    flex-direction: column;
    padding: 31px 31px 13px 50px;
}

/*paragraph about those requiring additional support*/
.enterprising-barnsley p {
    color: #222222;
    align-self: center;
    padding: 0px 9px 4px 2px;
}

/*stying for enterpising barnsley link*/
.enterprising-barnsley a {
    background: #5a3859;
    color: whitesmoke;
    padding: 4px 14px;
    align-self: center;
    margin-bottom: 26px;
    margin-top: 26px;
}

/* Engaging text to encourage moving to next page*/
strong {
    background-color: whitesmoke;
    color: #222222;
    padding: 16px 31px 10px 50px;
}

/*Moving to the next page div*/
.moving-foward {
    display: flex;
    flex-direction: column;

}
/*hyper-link to next page*/
#click-me {
    margin-bottom: 46px;
    margin-top: 16px;
}

/* ---------------------------------------PROJECTS-----------------------------------*/

/*past projects page */
.past-projects {
    background-color: #222222;
    display: flex;
    flex-direction: column;
}

/*Container for projects*/
.projects {
    display: flex;
    flex-direction: column;
}
.past-projects ul {
    display: flex;
    flex-wrap: wrap;
}
/* styling for image and text*/
.past-projects ul li {
    height: 50vh;
    flex-grow: 1;
    padding-left: 0;
}

/*generic styling for photographs*/
.past-projects-photos {
    height: 100%;
    width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

/* To create a line between the header and the heading*/

#header-break {
    padding: 5px 0 0 18px;
    border-top-color: whitesmoke;
    border-top-style: inset;
}

/*break between paragraph and gallery */
#introduction {
    padding: 0px 50px 21px 18px;
}

/*Generic styling for text*/

.text-wrap {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    background-color: #222222;
    word-break: normal;
    margin-top: 0px;
    margin-left: 0px;
    padding: 0px;
    text-align: center;
    text-wrap: wrap;
    flex-direction: column;
    align-items: center;
    font-size: medium;
    justify-content: center;
}

/*link to next page*/
.text-wrap-btn {
    display: flex;
    width: 97%;
    height: 100%;
    background-color: #222222;
    word-break: break-all;
    margin: -26px -22px 0px -13px;
    padding-block: 13px;
    text-align: center;
    text-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

/* ---------------------------------------CONTACT-----------------------------------*/

/*Section id - background */

#contact-us {
    background-image: url('../images/hand_sappling_expanded.webp');
    background-size: cover;
    background-color: #222222;
    padding-bottom: 45px;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 130vh;

}

/* Box around the form */
.contact-box {
    position: relative;
    top: 338px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 305px;
    height: 635px;
    padding: 25px 28px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

/*Heading above the form*/
.contact-box h2 {
    background-color: transparent;
    margin-left: -3px;
}

/*Tagline for the form*/
.contact-box p {
    background-color: transparent;
    margin-left: -3px;
}

/*Turns the form transparent*/
.contact-box form {
    background-color: transparent;
    border-left: 10px;

}

/*Controls the input boxes of the form*/
.contact-box input {
    height: 30.2px;
    width: 251px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid whitesmoke;
    background: transparent;
    margin-bottom: 10px;
    margin-left: -3px;
    margin-top: 11px;

}

/*Controls the labels of the form*/
.contact-box label {
    background-color: rgba(0, 0, 0, 0);
}

/*Changes colour when the user inputs the wrong information*/
#contact-form input:invalid {
    color: #4f1f6b;
}

/* Submit button */
.contact-box form button {
    display: block;
    position: relative;
    width: 251px;
    margin-bottom: 10px;
    background-color: #5a3859;
    padding: 5px;
    border-radius: 5px;
    color: whitesmoke;
    font-size: medium;
    box-shadow: 0 0 8px rgba(245, 245, 245, 0.2);
}

/*placehoder - used instead of labels*/
::placeholder {
    color: whitesmoke;
    font-size: medium;

}

/*message box*/
#message {
    background-color: transparent;
    padding-left: 10px;
    padding-top: 5px;
    margin-left: -2.2px;
    width: 250px;
}

/*Options for communication*/
fieldset {
    background-color: transparent;
    border: none;
    margin-top: 10px;
    margin-bottom: 14px;
}

legend {
    background-color: transparent;
}

.choice {
    background-color: transparent;
}

/*size of boxes*/
.choice input {
    height: 17.2px;
    width: 35px;
    border: none;
}

/* ---------------------------------------MEDIA QUERY-----------------------------------*/
@media (min-height:320px) {

    #contact-us {
        height: 182vh;
    }
}

@media (min-height:320px) {
#contact-us {
    height: 112vh;
}

}
/*Mobile L - 412px*/
@media screen and (min-width: 412px) {
    .contact-box {
        left: 46%;
        width: 357px;
    }

    #contact-us {
        height: 83vh;
    }

    /*Controls the input boxes of the form*/
    .contact-box input {
        height: 30.2px;
        width: 295px;
        padding: 10px;
        border: none;
        border-bottom: 1px solid whitesmoke;
        background: transparent;
        margin-bottom: 10px;
        margin-left: -3px;
        margin-top: 11px;

    }

    /*message box*/
    #message {
        background-color: transparent;
        padding-left: 10px;
        padding-top: 5px;
        margin-left: -2.2px;
        width: 295px;
    }

    /* Submit button */
    .contact-box form button {
        width: 295px;
    }

    /*size of boxes*/
    .choice input {
        height: 17.2px;
        width: 35px;
        border: none;
    }

}



@media (min-width:620px) {
    /*About-us page*/

    .apply {
        display: flex;
        align-self: center;
        flex-direction: row;
    }

    .meet-panel {
        display: flex;
        flex-direction: row-reverse;
    }

    .meet-panel-p {
        flex-grow: 2;
    }

    .meet-panel>p {
        background-color: whitesmoke;
        color: #222222;
        padding: 31px;
        padding: 0px 31px 20px 38px;
    }

    .panel-logo {
        max-height: 130px;
        max-width: 200px;
        flex-grow: 1;
        padding-left: 41px;
    }

    .eligible {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;

    }
}

/*Past Projects - 657px*/
@media screen and (min-width: 657px) {
    .text-wrap {
        width: 330px;
        word-break: break-all;
        margin: 44px -36px;
    }
}


/*Tablet - 741px*/
@media screen and (min-width: 741px) {
    /* contact us page - image breaking point */

    h1 {
        font-size: 4vw;
    }

    h2 {
        font-size: 3vw;
        word-break: normal;
    }

    p {
        font-size: 2vw;
        word-break: normal;
    }

    li {
        font-size: 2vw;
    }

    strong {
        font-size: 2.5vw;
    }

    #contact-us {

        width: 100vw;
        height: 69vh;

    }

    .contact-box {
        left: -1%;
        width: 348px;
    }

    /*About page links*/
    .about-us-links {
        background: #5a3859;
        color: whitesmoke;
        padding: 4px 14px;
        align-self: center;
        margin-bottom: 26px;
        margin-top: 26px;
        font-size: 2vw;
    }

    .images img {
        max-width: 313px;
        height: auto;
        align-self: center;
    }

    /*message box*/
    #message {
        background-color: transparent;
        padding-left: 10px;
        padding-top: 5px;
        margin-left: -2.2px;
        width: 295px;
    }

    /* Submit button */
    .contact-box form button {
        width: 295px;
    }

    /*size of boxes*/
    .choice input {
        height: 17.2px;
        width: 35px;
        border: none;
    }

    .looking-for {
        display: flex;
        justify-content: space-evenly;
        align-items: stretch;
        align-items: center;
        flex-direction: row-reverse;
    }
}

@media (min-width: 900px) {
    #contact-us {
        height: 194vh;
    }
}



/*Laptop - 1024px*/
@media (min-width: 1024px) {
    #contact-us {
        height: 132vh;
    }

    /*contact page - location of form*/
    .contact-box {
        left: -6%;
        width: 349px;
        height: 103%;
        top: 52%;
    }


    /*about-us*/

    #slide h2 {
        top: 16%;
        left: 55%;
        font-weight: 700;
        text-align: left;
        padding: 20px 0 0 60px;
        pointer-events: none;
        padding-bottom: 27px;
        transform: rotate(90deg);
    }

    #slide {

        width: 244px;
        top: 97%;
        left: -2%;
        transform: translateX(-257px);
        height: 198px;

    }

    .about-us p {
        padding: 0 31px 20px 75px;
    }

    .looking-for {
        display: flex;
        justify-content: space-evenly;
        align-items: stretch;
        align-items: center;
        flex-direction: row-reverse;
    }

    .looking-for-sec {
        display: flex;
    }

    .about-us h1 {
        padding: 31px 31px 13px 31px;
        align-self: center;
        border-top: #222222;
        border-bottom: #222222;

    }

    #dropdown {
        position: relative;
        left: -28px;
    }

    #slide ul li a {

        font-size: 2.5vw;
    }

    .apply {
        display: flex;
        align-self: center;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .images img {
        max-width: 442px;
        height: auto;
        align-self: center;
    }

    .apply-container {
        display: flex;
        flex-direction: row;
    }

    .container {
        display: flex;
        flex-direction: column;
        background-color: whitesmoke;
        width: 100%;
    }

    /* Past Projects photos*/

    .text-wrap-btn {
        margin: -26px -22px 15px -13px;
    }

    .past-projects-photos {
        height: 401px;
        width: auto;
        padding-left: 0;
        padding-top: 16px;
    }

    .past-projects ul li {
        height: 72vh;

    }
}

@media (min-width: 1100px) {
    .text-wrap-btn {
        margin: -26px -22px 40px -13px;
    }
}

@media (min-width: 1200px) {

    #slide {
        height: 193px;
    }

    #slide ul li a {
        font-size: 2.2vw;
    }

    .text-wrap-btn {
        margin: -26px -22px 52px -13px;
    }
}

@media (min-width: 1300px) {
    .text-wrap-btn {
        margin: -26px -22px 61px -13px;
    }
}

@media (min-width: 1440px) {
    #bbblogo {
        left: 59%;
    }

    .panel-logo {
        max-height: 130px;
        max-width: 24vw;
        flex-grow: 1;
        padding-left: 41px;
    }

    .images img {
        max-width: 635px;
        height: auto;
        align-self: center;
    }


    #slide {
        position: absolute;
        width: 271px;
        height: 209px;
    }

    input:checked~#slide {
        transform: translateX(17px);
    }

    .toggle {
        height: 52px;
        width: 52px;
        top: 12px;
        left: 33px;

    }

    .toggle .common {
        height: 5px;
        width: 46px;
    }
    /*footer*/
    .footer-container h4 {
        font-size: 2.2vw;
    }

    .barnsley-council ul li {
        align-self: center;
        font-size: 2vw;
    }

    .copyright p {
        font-size: 2vw;
    }


    #slide h2 {
        padding: 20px 0 0 244px;
        top: -22%;
        left: 28%;
    }
}

@media (min-width: 1500px) {
    #slide li {
        padding: 8px 8px 8px 37px;
    }
}


@media (min-width: 2140px) {
    input:checked~#slide {
        transform: translateX(315px);
    }

    #slide {
        position: absolute;
        width: 459px;
        height: 316px;
        top: 147%;
        left: -16%;
    }

    #slide h2 {
        padding: 20px 0 0 125px;
    }

    #dropdown {
        position: relative;
        left: -78px;
    }
}

@media (min-width: 2204px) {
    .text-wrap {
        width: 898px;
        word-break: break-all;
        margin: 45px -36px;
    }
}

@media (min-width: 2560px) {
    #bbblogo {
        left: 80%;
    }

    /*footer*/
    .footer-container h4 {
        font-size: 2.2vw;
    }

    .barnsley-council ul li {
        align-self: center;
        font-size: 2vw;
    }

    .copyright p {
        font-size: 2vw;
    }

    #slide {
        width: 664px;
    }

    #slide h2 {
        padding: 20px 0 0 244px;
        top: -3%;
        left: 55%;
    }
    /*past-projects*/
    .past-projects-photos {
        height: 871px;
        width: auto;
        padding-left: 0;
        padding-top: 16px;
    }
    /*menu burger*/
    .toggle {
        position: absolute;
        height: 100px;
        width: 100px;
        top: 12px;
        left: 33px;
        z-index: 2;
        cursor: pointer;
        border-radius: 2px;
        background-color: #2c2b2c;
        box-shadow: 0 0 10px rgba(245, 245, 245, 0.3);
    }

    .toggle .common {
        position: absolute;
        height: 11px;
        width: 74px;
        background-color: whitesmoke;
        border-radius: 50px;
        transition: 0.3s ease;
    }

    #slide {
        position: absolute;
        width: 600px;
        height: 316px;
        top: 147%;
        left: -16%;
    }

    /*contact page */

    #contact-us {
        height: 88vh;
    }

.contact-box {
    left: -6%;
    width: 802px;
    height: 79%;
    top: 53%;
}

    input::placeholder {
        font-size: 1.3vw;
    }

    .contact-box input {
        height: 67.2px;
        width: 720px;
    }

    textarea::placeholder {
        font-size: 1.3vw;
    }
    .choice input {
        height: 26.2px;
        width: 97px;
    }

    #message {
        width: 720px;
    }

    fieldset legend {
        font-size: 1.3vw;
    }
    .contact-box label {
        font-size: 1.3vw;
    }

    .contact-box form button {
        width: 706px;
    }

    .contact-box form button {
       font-size: 1.3vw;
}
}