/*font -Open Sans*/ 
@import url(https://fonts.google.com/share?selection.family=Open+Sans:ital,wght@0,300..800;1,300..800);
@import url(https://fonts.google.com/share?selection.family=Open+Sans:ital,wght@0,300..800;1,300..800);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    background-color: #222222;
    color:whitesmoke;
    font-size: medium;
    font-weight: 600;
    width: auto;
    height: 18vh;
} 

/* Navigation bar - targeting the logo */
.navbar {
    padding-left: 15px;
    padding-right: 15px;;
    height: 20vh;
    width: 30%;
}

img {
    height: 90%;
    width: auto;
    position: relative;
    top: 5%;
    left: 5%;
    object-fit: fill;
    padding: auto;  
} 


/* Navigation bar - menu list*/

ul {
    list-style: none;
    padding-left: 16px;
}

li {
    padding-left: 10px;  
    padding-bottom: 25px;
}

i {
    color: whitesmoke;
    padding: 5px;
}

.fa-bars {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: xx-large;
    z-index: 10;
}

.fa-bars:hover {
    background-color: #5a3859;
}

img li {
    display: inline-block;
}

a {
    color: whitesmoke;
}

/*toggle menu */

input {
    display: none;
    visibility: hidden;
   
}

input h2 {
    flex-direction: row;  
}

#menu-toggle:checked~nav {
  display: block;
}

/*slide bar
.slide {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 160px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #222222;
    transition: 0.5s ease;
    transform-origin: right;
    transform: translateX(250px);
    z-index: 0;
}

h2 {
    pointer-events: none;
    padding: 10px 10px 20px 15px;
}

ul li a {
    padding: 5px 0;
    text-decoration: none;
    transition: 0.2s ease-out;
}


ul li a i {
    width: 20px;
    text-align: center;
}

ul li a:hover {
    background-color: #5a3859;
}
    
input:checked ~ .slide {
      transform: translateX(0); 

}
/* Make main element take up any surplus space to push footer down */
main {
    background-color: lightgray;
    flex: 1 0 auto;
    margin-top: 47px; 
}

/*footer*/

#legal-social {
    text-align: center;
    padding: 20px 0;
    justify-content: space-evenly;
    background-color: #222222;
    display: flex;
    color: whitesmoke;
    flex-wrap: wrap;
    position: relative;
}

footer ~ li {
    flex-direction: row;   
    z-index: 7;
}

.legal {
    flex-direction: row;
    flex-wrap: wrap;
}

.legal:hover {
    text-decoration: underline;
    color: whitesmoke;
    font-size: large;
    background-color: #222222;
}
/* --creation of toggle menu --
.toggle {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 20px;
    right: 15px;
    z-index: 1;
    cursor: pointer;
    border-radius: 2px;
    background-color: #222222;
    box-shadow: 0 0 10px rgba(0, 0 , 0, 3);
}

/* 
.toggle .common {
    position: absolute;
    height: 10px;
    width: 20px;
    background-color: whitesmoke;
    border-radius: 50px;
    transition: 0.3s ease;
    z-index: 5;
}

.toggle .top-line {
    top: 30%;
    left: 50%;
    transform: (-50%, -50%);
/*
#menu {
    top: 40px;
    right: 15px;
    z-index: 2;
}


#menu .toggle {
    position: absolute;
}
*/

/* Will need later for media queries
li {
    display: inline;
    justify-content: space-between;
}*/

@media screen {
    
}